body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
div {
	line-height: 0px;
	text-align: center;
}
.noselect {
	user-select: none;
}
.hidden {
	display: none;
}
#mapbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #0b5394;
}
#dragmap {
	position: absolute;
	top: -1400px;
	left: -400px;
	width: 1250px;
	height: auto;
	border: 1px solid grey;
	transform: rotateX(45deg) rotateZ(-45deg);
	background: url('images/water.png');
}
.tile {
	box-sizing: border-box;
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid #4080bf;
}
.sztile	{
	background-color: #064886;
}
.boats {
	position: absolute;
	width: 50px;
	overflow: visible;
	z-index: 1;
}
.boatheader {
	position: relative;
	line-height: 1;
	top: 5px;
	left: 10px;
	width: 100px;
	height: auto;
	transform: rotate(45deg);
	color: lightblue;
	z-index: 2;
}
.boattitle {
	padding-bottom: 5px;
}
#movebar {
	width:48px;
	height: 8px;
	margin:auto;
	margin-top: 5px;
	border: 1px solid black;
}
.movebar {
	float: left;
	width: 12px;
	height: 8px;
	background-color: grey;
}
.tile .unrotate {
	transform: rotate(45deg);
}
.container {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 95%;
	max-width: 800px;
	height: auto;
	padding: 5px;
	background-color: rgba(0, 191, 255, 0.75);
	border: 1px solid gray;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#lefthud {
	float: left;
	width: 280px;
}
.button {
	min-width: 50px;
	min-height: 20px;
}
#movesource, #buttons {
	float: left;
	width: 150px;
	min-height: 10px;
	margin: 5px 10px;
}
#damage {
	float: left;
	margin: 5px 40px;
	width: 90px;
	height: 15px;
	background-color: #aaaaaa;
	overflow: hidden;
}
#damagemeter {
	position: relative;
	background: red;
	height: 15px;
	left: -100%;
	transition: .3s linear;
}
#time {
	position: relative;
	margin: 30px 10px;
	float: right;
	height: 76px;
	width: 15px;
	background-color: #aaaaaa;
	overflow: hidden;
}
#timebar {
	position: relative;
	height: 76px;
	top: 100%;
	background-color: khaki;
	transition: .9s linear;
}
#moves {
	float: right;
	margin-right: 20px;
}
.moves {
	background-color: lightgrey;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	border-radius: 10px;
}
#treasurebox {
	float: left;
	margin-left: 45px;
	height: 35px;
	width: 35px;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: rgba(11, 83, 148, 0.3);
}
#treasurebox img {
	height: 35px;
	width: 35px;
}
#output {
	float: right;
	position: relative;
	width: 98%;
	max-width: 500px;
	margin: 10px 5px 1px 10px;
	height: 100px;
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
}
#textbox {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 97px;
	padding-top: 3px;
	overflow: auto;
}
#textbox p {
	user-select: text;
	word-wrap: break-word;
	float: left;
	text-align: left;
	clear: both;
	line-height: 1;
	max-width: 96%;
	padding: 2px 7px;
	border-radius: 5px;
	margin: 0 3px 3px 3px;
	background-color: white;
}
#textbox .note {
	background-color: tan;
}
#textbox .error {
	background-color: salmon;
}
#input {
	float: right;
	width: 98%;
	max-width: 490px;
	margin-right: 5px;
}
#textinput {
	float: right;
	width: 100%;
	padding: 3px 5px;
	background-color: #eeeeee;
	border: 1px solid black;
}
#timer {
	position: absolute;
	left: 1%;
	top: 40%;
	width: 100px;
	height: auto;
	background-color: rgba(0, 191, 255, 0.85);
	border: 1px solid gray;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#timer img {
	width: 35px;
	height: 35px;
	float: left;
	clear: left;
	margin: 5px 15px;
}
#timer p {
	float: left;
	line-height: 1;
}
#turncount {
	margin-left: 50%;
	transform: translate(-50%, 0);
	color: khaki;
	font-size: 19px;
}
